.cls-1,
.cls-2,
.cls-3 {
  fill: none;
}

.cls-6 {
  fill: #f2f6f8;
}

.cls-7,
.cls-8 {
  fill: #67548e;
}

.cls-9 {
  fill: #eaddff;
}

.cls-10 {
  fill: #f4edf8;
}

.cls-11,
.cls-12 {
  fill: #ffe1da;
}

.cls-13,
.cls-14 {
  fill: #fff;
}

.cls-15 {
  fill: #fff6fe;
}

.cls-16,
.cls-17 {
  fill: #ffb3b0;
}

.cls-18,
.cls-19 {
  fill: #00a38c;
}

.cls-20,
.cls-21 {
  fill: #d2bcfd;
}

.cls-22 {
  fill: #0c4476;
}

.cls-23,
.cls-24 {
  fill: #38265c;
}

.cls-25 {
  fill: #262649;
}

.cls-26 {
  fill: #5cdbc2;
}

.cls-2 {
  stroke: #f0f;
  stroke-width: 0.04px;
}

.cls-2,
.cls-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-3 {
  stroke: #d2bcfd;
  stroke-dasharray: 0 0 2.22 2.22;
}

.cls-3,
.cls-28,
.cls-24,
.cls-21,
.cls-29,
.cls-19,
.cls-12,
.cls-14,
.cls-17,
.cls-30,
.cls-8 {
  fill-rule: evenodd;
}

.cls-28 {
  fill: #f89c7b;
}

.cls-29 {
  fill: #fce8e8;
}

.cls-30 {
  fill: #ffd3ca;
}

.cls-500 {
  fill: red;
}
.tls-1,
.tls-2,
.tls-3 {
  fill: none;
}

.tls-5 {
  fill: #f2f6f8;
}

.tls-6,
.tls-7 {
  fill: #67548e;
}

.tls-8 {
  fill: #eaddff;
}

.tls-9 {
  fill: #f4edf8;
}

.tls-10,
.tls-11 {
  fill: #ffe1da;
}

.tls-12 {
  fill: #fffffa;
}

.tls-13,
.tls-14 {
  fill: #fff;
}

.tls-15 {
  fill: #fff6fe;
}

.tls-16,
.tls-17 {
  fill: #ffb3b0;
}

.tls-18 {
  fill: #00a38c;
}

.tls-19,
.tls-20,
.tls-21 {
  fill: #d2bcfd;
}

.tls-22 {
  fill: #0c4476;
}

.tls-23,
.tls-24 {
  fill: #38265c;
}

.tls-25 {
  fill: #262649;
}

.tls-26,
.tls-27 {
  fill: #5cdbc2;
}

.tls-2 {
  stroke: #f0f;
  stroke-width: 0.04px;
}

.tls-2,
.tls-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tls-3 {
  stroke: #d2bcfd;
  stroke-dasharray: 0 0 2.22 2.22;
}

.tls-3,
.tls-28,
.tls-24,
.tls-27,
.tls-20,
.tls-29,
.tls-30,
.tls-11,
.tls-14,
.tls-17,
.tls-31,
.tls-7 {
  fill-rule: evenodd;
}

.tls-28 {
  fill: #f89c7b;
}

.tls-29 {
  fill: #fce8e8;
}

.tls-30 {
  fill: #7e89fd;
}

.tls-31 {
  fill: #ffd3ca;
}

.tls-21 {
  opacity: 0.3;
}
.mls-1,
.mls-2,
.mls-3 {
  fill: none;
}

.mls-4 {
  clip-path: url(#clippath);
}

.mls-5 {
  fill: #f2f6f8;
}

.mls-6,
.mls-7 {
  fill: #67548e;
}

.mls-8 {
  fill: #eaddff;
}

.mls-9 {
  fill: #f4edf8;
}

.mls-10,
.mls-11 {
  fill: #ffe1da;
}

.mls-12 {
  fill: #fffffa;
}

.mls-13,
.mls-14 {
  fill: #fff;
}

.mls-15 {
  fill: #fff6fe;
}

.mls-16,
.mls-17 {
  fill: #ffb3b0;
}

.mls-18 {
  fill: #00a38c;
}

.mls-19,
.mls-20,
.mls-21 {
  fill: #d2bcfd;
}

.mls-22 {
  fill: #0c4476;
}

.mls-23,
.mls-24 {
  fill: #38265c;
}

.mls-25 {
  fill: #262649;
}

.mls-26,
.mls-27 {
  fill: #5cdbc2;
}

.mls-2 {
  stroke: #f0f;
  stroke-width: 0.04px;
}

.mls-2,
.mls-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.mls-3 {
  stroke: #d2bcfd;
  stroke-dasharray: 0 0 2.22 2.22;
}

.mls-3,
.mls-28,
.mls-24,
.mls-27,
.mls-20,
.mls-29,
.mls-11,
.mls-14,
.mls-17,
.mls-30,
.mls-7 {
  fill-rule: evenodd;
}

.mls-28 {
  fill: #f89c7b;
}

.mls-29 {
  fill: #fce8e8;
}

.mls-30 {
  fill: #ffd3ca;
}

.mls-21 {
  opacity: 0.3;
}
